openapi: 3.1.0
info:
  title: Miriel Context Engine Documents Learn API
  version: v2
  description: Miriel is the context engine and platform for AI-native development. The API lets applications and agents learn from any data source and query relevant context in real time, with LLM-, vector-, and graph-based retrieval, per-token permissions (grant IDs), and encryption. This description is a faithful derivation of the official TypeScript SDK (@miriel/miriel v0.1.0); Miriel does not publish a machine-readable OpenAPI document at a public URL.
  contact:
    name: Miriel
    url: https://miriel.ai
  x-derived-from: npm @miriel/miriel v0.1.0 (dist type definitions + compiled client)
servers:
- url: https://api.prod.miriel.ai
  description: Production
security:
- accessToken: []
tags:
- name: Learn
paths:
  /api/v2/learn:
    post:
      operationId: learn
      summary: Learn from an input or data source
      description: Ingest and index content (string or file/URL source) into the context engine.
      tags:
      - Learn
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                input:
                  type: string
                user_id:
                  type: string
                metadata: {}
                force_string:
                  type: boolean
                discoverable:
                  type: boolean
                grant_ids:
                  type: array
                  items:
                    type: string
                domain_restrictions: {}
                recursion_depth:
                  type: integer
                priority:
                  type: integer
                project: {}
                chunk_size:
                  type: integer
                polling_interval:
                  type: integer
      responses:
        '200':
          description: Learning job accepted
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: x-access-token
      description: API key issued from the Miriel dashboard, sent in the x-access-token header.
