openapi: 3.1.0
info:
  title: Miriel Context Engine Documents Projects API
  version: v2
  description: Miriel is the context engine and platform for AI-native development. The API lets applications and agents learn from any data source and query relevant context in real time, with LLM-, vector-, and graph-based retrieval, per-token permissions (grant IDs), and encryption. This description is a faithful derivation of the official TypeScript SDK (@miriel/miriel v0.1.0); Miriel does not publish a machine-readable OpenAPI document at a public URL.
  contact:
    name: Miriel
    url: https://miriel.ai
  x-derived-from: npm @miriel/miriel v0.1.0 (dist type definitions + compiled client)
servers:
- url: https://api.prod.miriel.ai
  description: Production
security:
- accessToken: []
tags:
- name: Projects
paths:
  /api/v2/get_projects:
    post:
      operationId: getProjects
      summary: List projects
      tags:
      - Projects
      responses:
        '200':
          description: Projects
  /api/v2/create_project:
    post:
      operationId: createProject
      summary: Create a project
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Created project
  /api/v2/delete_project:
    post:
      operationId: deleteProject
      summary: Delete a project
      tags:
      - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - project_id
              properties:
                project_id:
                  type: string
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: x-access-token
      description: API key issued from the Miriel dashboard, sent in the x-access-token header.
