openapi: 3.1.0
info:
  title: Miriel Context Engine Documents Query API
  version: v2
  description: Miriel is the context engine and platform for AI-native development. The API lets applications and agents learn from any data source and query relevant context in real time, with LLM-, vector-, and graph-based retrieval, per-token permissions (grant IDs), and encryption. This description is a faithful derivation of the official TypeScript SDK (@miriel/miriel v0.1.0); Miriel does not publish a machine-readable OpenAPI document at a public URL.
  contact:
    name: Miriel
    url: https://miriel.ai
  x-derived-from: npm @miriel/miriel v0.1.0 (dist type definitions + compiled client)
servers:
- url: https://api.prod.miriel.ai
  description: Production
security:
- accessToken: []
tags:
- name: Query
paths:
  /api/v2/query:
    post:
      operationId: query
      summary: Query for relevant context
      description: Retrieve relevant context for a query using LLM, vector, and/or graph retrieval.
      tags:
      - Query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                user_id:
                  type: string
                input_images: {}
                response_format: {}
                metadata_query: {}
                num_results:
                  type: integer
                want_llm:
                  type: boolean
                want_vector:
                  type: boolean
                want_graph:
                  type: boolean
                mock_response: {}
      responses:
        '200':
          description: Query results
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: x-access-token
      description: API key issued from the Miriel dashboard, sent in the x-access-token header.
