openapi: 3.1.0
info:
  title: Miriel Context Engine Documents Users API
  version: v2
  description: Miriel is the context engine and platform for AI-native development. The API lets applications and agents learn from any data source and query relevant context in real time, with LLM-, vector-, and graph-based retrieval, per-token permissions (grant IDs), and encryption. This description is a faithful derivation of the official TypeScript SDK (@miriel/miriel v0.1.0); Miriel does not publish a machine-readable OpenAPI document at a public URL.
  contact:
    name: Miriel
    url: https://miriel.ai
  x-derived-from: npm @miriel/miriel v0.1.0 (dist type definitions + compiled client)
servers:
- url: https://api.prod.miriel.ai
  description: Production
security:
- accessToken: []
tags:
- name: Users
paths:
  /api/v2/create_user:
    post:
      operationId: createUser
      summary: Create a user
      tags:
      - Users
      responses:
        '200':
          description: Created user
  /api/v2/get_users:
    post:
      operationId: getUsers
      summary: List users
      tags:
      - Users
      responses:
        '200':
          description: Users
  /api/v2/delete_user:
    post:
      operationId: deleteUser
      summary: Delete a user
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              properties:
                user_id:
                  type: string
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: x-access-token
      description: API key issued from the Miriel dashboard, sent in the x-access-token header.
