openapi: 3.1.0
info:
  title: Miriel Context Engine Documents API
  version: v2
  description: Miriel is the context engine and platform for AI-native development. The API lets applications and agents learn from any data source and query relevant context in real time, with LLM-, vector-, and graph-based retrieval, per-token permissions (grant IDs), and encryption. This description is a faithful derivation of the official TypeScript SDK (@miriel/miriel v0.1.0); Miriel does not publish a machine-readable OpenAPI document at a public URL.
  contact:
    name: Miriel
    url: https://miriel.ai
  x-derived-from: npm @miriel/miriel v0.1.0 (dist type definitions + compiled client)
servers:
- url: https://api.prod.miriel.ai
  description: Production
security:
- accessToken: []
tags:
- name: Documents
paths:
  /api/v2/update_document:
    post:
      operationId: updateDocument
      summary: Update a document's metadata or access
      tags:
      - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - document_id
              properties:
                document_id:
                  type: string
                user_id:
                  type: string
                metadata: {}
                discoverable:
                  type: boolean
                grant_ids:
                  type: array
                  items:
                    type: string
                chunk_size:
                  type: integer
      responses:
        '200':
          description: Updated document
  /api/v2/get_document_by_id:
    post:
      operationId: getDocumentById
      summary: Get a document by ID
      tags:
      - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - document_id
              properties:
                document_id:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Document
  /api/v2/get_all_documents:
    post:
      operationId: getAllDocuments
      summary: List documents
      tags:
      - Documents
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                project: {}
                metadata_query: {}
      responses:
        '200':
          description: Documents
  /api/v2/get_document_count:
    post:
      operationId: getDocumentCount
      summary: Count documents
      tags:
      - Documents
      responses:
        '200':
          description: Document count
  /api/v2/remove_document:
    post:
      operationId: removeDocument
      summary: Remove a document
      tags:
      - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - document_id
              properties:
                document_id:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Removed
  /api/v2/remove_all_documents:
    post:
      operationId: removeAllDocuments
      summary: Remove all documents
      tags:
      - Documents
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
      responses:
        '200':
          description: Removed
  /api/v2/remove_resource:
    post:
      operationId: removeResource
      summary: Remove a resource
      tags:
      - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - resource_id
              properties:
                resource_id:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: Removed
  /api/v2/set_document_access:
    post:
      operationId: setDocumentAccess
      summary: Set document access grants
      tags:
      - Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              - document_id
              - grant_ids
              properties:
                user_id:
                  type: string
                document_id:
                  type: string
                grant_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Access updated
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: x-access-token
      description: API key issued from the Miriel dashboard, sent in the x-access-token header.
