openapi: 3.1.0
info:
  title: Miriel Context Engine API
  version: v2
  description: >-
    Miriel is the context engine and platform for AI-native development. The API
    lets applications and agents learn from any data source and query relevant
    context in real time, with LLM-, vector-, and graph-based retrieval,
    per-token permissions (grant IDs), and encryption. This description is a
    faithful derivation of the official TypeScript SDK (@miriel/miriel v0.1.0);
    Miriel does not publish a machine-readable OpenAPI document at a public URL.
  contact:
    name: Miriel
    url: https://miriel.ai
  x-derived-from: npm @miriel/miriel v0.1.0 (dist type definitions + compiled client)
servers:
  - url: https://api.prod.miriel.ai
    description: Production
security:
  - accessToken: []
tags:
  - name: Query
  - name: Learn
  - name: Documents
  - name: Users
  - name: Projects
  - name: Policies
  - name: Monitoring
paths:
  /api/v2/query:
    post:
      operationId: query
      summary: Query for relevant context
      description: Retrieve relevant context for a query using LLM, vector, and/or graph retrieval.
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string }
                user_id: { type: string }
                input_images: {}
                response_format: {}
                metadata_query: {}
                num_results: { type: integer }
                want_llm: { type: boolean }
                want_vector: { type: boolean }
                want_graph: { type: boolean }
                mock_response: {}
      responses:
        '200': { description: Query results }
  /api/v2/learn:
    post:
      operationId: learn
      summary: Learn from an input or data source
      description: Ingest and index content (string or file/URL source) into the context engine.
      tags: [Learn]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                input: { type: string }
                user_id: { type: string }
                metadata: {}
                force_string: { type: boolean }
                discoverable: { type: boolean }
                grant_ids: { type: array, items: { type: string } }
                domain_restrictions: {}
                recursion_depth: { type: integer }
                priority: { type: integer }
                project: {}
                chunk_size: { type: integer }
                polling_interval: { type: integer }
      responses:
        '200': { description: Learning job accepted }
  /api/v2/get_monitor_jobs:
    post:
      operationId: getLearningJobs
      summary: List learning / monitor jobs
      tags: [Monitoring]
      responses:
        '200': { description: Job list }
  /api/v2/get_monitor_sources:
    post:
      operationId: getMonitorSources
      summary: List monitored sources
      tags: [Monitoring]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string }
      responses:
        '200': { description: Monitored sources }
  /api/v2/update_document:
    post:
      operationId: updateDocument
      summary: Update a document's metadata or access
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document_id]
              properties:
                document_id: { type: string }
                user_id: { type: string }
                metadata: {}
                discoverable: { type: boolean }
                grant_ids: { type: array, items: { type: string } }
                chunk_size: { type: integer }
      responses:
        '200': { description: Updated document }
  /api/v2/get_document_by_id:
    post:
      operationId: getDocumentById
      summary: Get a document by ID
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document_id]
              properties:
                document_id: { type: string }
                user_id: { type: string }
      responses:
        '200': { description: Document }
  /api/v2/get_all_documents:
    post:
      operationId: getAllDocuments
      summary: List documents
      tags: [Documents]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string }
                project: {}
                metadata_query: {}
      responses:
        '200': { description: Documents }
  /api/v2/get_document_count:
    post:
      operationId: getDocumentCount
      summary: Count documents
      tags: [Documents]
      responses:
        '200': { description: Document count }
  /api/v2/remove_document:
    post:
      operationId: removeDocument
      summary: Remove a document
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document_id]
              properties:
                document_id: { type: string }
                user_id: { type: string }
      responses:
        '200': { description: Removed }
  /api/v2/remove_all_documents:
    post:
      operationId: removeAllDocuments
      summary: Remove all documents
      tags: [Documents]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id: { type: string }
      responses:
        '200': { description: Removed }
  /api/v2/remove_resource:
    post:
      operationId: removeResource
      summary: Remove a resource
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resource_id]
              properties:
                resource_id: { type: string }
                user_id: { type: string }
      responses:
        '200': { description: Removed }
  /api/v2/set_document_access:
    post:
      operationId: setDocumentAccess
      summary: Set document access grants
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, document_id, grant_ids]
              properties:
                user_id: { type: string }
                document_id: { type: string }
                grant_ids: { type: array, items: { type: string } }
      responses:
        '200': { description: Access updated }
  /api/v2/create_user:
    post:
      operationId: createUser
      summary: Create a user
      tags: [Users]
      responses:
        '200': { description: Created user }
  /api/v2/get_users:
    post:
      operationId: getUsers
      summary: List users
      tags: [Users]
      responses:
        '200': { description: Users }
  /api/v2/delete_user:
    post:
      operationId: deleteUser
      summary: Delete a user
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string }
      responses:
        '200': { description: Deleted }
  /api/v2/get_projects:
    post:
      operationId: getProjects
      summary: List projects
      tags: [Projects]
      responses:
        '200': { description: Projects }
  /api/v2/create_project:
    post:
      operationId: createProject
      summary: Create a project
      tags: [Projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '200': { description: Created project }
  /api/v2/delete_project:
    post:
      operationId: deleteProject
      summary: Delete a project
      tags: [Projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id]
              properties:
                project_id: { type: string }
      responses:
        '200': { description: Deleted }
  /api/v2/get_user_policies:
    post:
      operationId: getUserPolicies
      summary: List user policies
      tags: [Policies]
      responses:
        '200': { description: Policies }
  /api/v2/add_user_policy:
    post:
      operationId: addUserPolicy
      summary: Add a user policy
      tags: [Policies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy]
              properties:
                policy: {}
                project_id: { type: string }
      responses:
        '200': { description: Policy added }
  /api/v2/delete_user_policy:
    post:
      operationId: deleteUserPolicy
      summary: Delete a user policy
      tags: [Policies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy_id]
              properties:
                policy_id: { type: string }
                project_id: { type: string }
      responses:
        '200': { description: Deleted }
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: x-access-token
      description: API key issued from the Miriel dashboard, sent in the x-access-token header.
